### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# preview data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# count the number of unique players in the SN column
tp_count = int(len(pd.unique(purchase_data["SN"])))
# create dataframe to hold data
tp_df = pd.DataFrame({"Total Players": tp_count}, index=[0])
tp_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# get the average price of each purchase
purchase_avg = float(purchase_data["Price"].mean())
# count the number of purchases
total_purchases = int(len(purchase_data["SN"]))
# get the sum of all purchases
total_revenue = float(purchase_data["Price"].sum())
# count the number of items available
total_unique_items = int(len(pd.unique(purchase_data["Item Name"])))
# create data frame to hold data
patotal_df = pd.DataFrame({
            "Number of Unique Items": total_unique_items,
            "Average Price": purchase_avg,
            "Number of Purchases": total_purchases,
            "Total Revenue": total_revenue
            }, index=[0])
#format the average price and total revenue columns for currency
patotal_df["Average Price"] = patotal_df["Average Price"].map("${:,.2f}".format)
patotal_df["Total Revenue"] = patotal_df["Total Revenue"].map("${:,.2f}".format)

patotal_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# drop the duplicate players for counting gender
genders_df = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
# get the count of each gender
gender_count = genders_df["Gender"].value_counts()
# total players divided by 100 used for percentage calculations
tccalc = tp_count/100
# create dataframe
gc_df = pd.DataFrame({
                    "Total Count": gender_count,
                    "Percentage of Players": gender_count/tccalc
                    })

# format percentage of players
gc_df["Percentage of Players"] = gc_df["Percentage of Players"].map("{:,.2f} %".format)

gc_df

                       Total Count Percentage of Players
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
# count the purchases made by each gender
total_gender_count = purchase_data["Gender"].value_counts()

# variable to hold all of the rows for females
female_avg = purchase_data.loc[purchase_data["Gender"] == "Female"]
# average purchase price for females
female_purchase_avg = female_avg["Price"].mean()
# total of purchases made by females
female_total = female_avg['Price'].sum()
# dataframe to hold the SN and Price
new_female_df = female_avg[["SN", "Price"]]
# group the duplicate SNs and add up their total purchase amount
new_female_df = new_female_df.groupby(['SN']).sum()
# get the average purchase price
female_avg_pp = float(new_female_df.mean())

# variable to hold all of the rows for males
male_avg = purchase_data.loc[purchase_data["Gender"] == "Male"]
# average purchase price for males
male_purchase_avg = male_avg["Price"].mean()
# total of purchases made by males
male_total = male_avg['Price'].sum()
# dataframe to hold the SN and Price
new_male_df = male_avg[["SN", "Price"]]
# group the duplicate SNs and add up their total purchase amount
new_male_df = new_male_df.groupby(['SN']).sum()
# get the average purchase price
male_avg_pp = float(new_male_df.mean())

# variable to hold all of the rows for Other / Non-Disclosed
other_avg = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
# average purchase price for Other / Non-Disclosed
other_purchase_avg = other_avg["Price"].mean()
# total of purchases made by Other / Non-Disclosed
other_total = other_avg['Price'].sum()
# dataframe to hold the SN and Price
new_other_df = other_avg[["SN", "Price"]]
# group the duplicate SNs and add up their total purchase amount
new_other_df = new_other_df.groupby(['SN']).sum()
# get the average purchase price
other_avg_pp = float(new_other_df.mean())

# dataframe to hold the data
pag_df = pd.DataFrame({
    "Purchase Count": total_gender_count,
    "Average Purchase Price":[male_purchase_avg, female_purchase_avg, other_purchase_avg],
    "Total Purchase Value":[male_total, female_total, other_total],
    "Avg Total Purchase per Person":[male_avg_pp, female_avg_pp, other_avg_pp],
})

# format columns for currency
pag_df["Average Purchase Price"] = pag_df["Average Purchase Price"].map("${:,.2f}".format)
pag_df["Total Purchase Value"] = pag_df["Total Purchase Value"].map("${:,.2f}".format)
pag_df["Avg Total Purchase per Person"] = pag_df["Avg Total Purchase per Person"].map("${:,.2f}".format)

pag_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# bins for age groups
bins = [0, 9.1, 14.1, 19.1, 24.1, 29.1, 34.1, 39.1, 100]
# create dataframe to hold the ages from the dataframe that had duplicates removed
age_demo = pd.DataFrame(genders_df['Age'])
# get the counts in each age group
age_counts = age_demo['Age'].value_counts(bins=bins, sort=False)
# create dataframe to hold the data
df_mapping = pd.DataFrame({
    'Age Group': ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    "Total Count": age_counts,
    "Percentage of Players":age_counts/(tccalc),})
# format for percentage
df_mapping["Percentage of Players"] = df_mapping["Percentage of Players"].map("{:,.2f}%".format)

df_mapping.style.hide_index()

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# bins for age groups
bins = [0, 9.1, 14.1, 19.1, 24.1, 29.1, 34.1, 39.1, 100]
# age group labels
age_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
# add age group column to original data set using the bins and labels defined above
purchase_data["Age Group"] = pd.cut(purchase_data['Age'], bins, labels=age_group)
# get the counts of each age group for all of the purchases
age_pa_count = purchase_data['Age'].value_counts(bins=bins, sort=False)

# hold the data for age group
u10 = purchase_data.loc[purchase_data["Age Group"] == "<10"]
# get the count of the age group from previous dataframe
u10o = df_mapping.loc[df_mapping["Age Group"] == "<10"]
# get the average purchase price
u10avg = u10['Price'].mean()
# get the total of purchases made
u10sum = u10['Price'].sum()
# calculate the average per person
u10pavg = u10sum / int(u10o['Total Count'])
#
# comments above apply to each of the age groups below
#
et = purchase_data.loc[purchase_data["Age Group"] == "10-14"]
eto = df_mapping.loc[df_mapping["Age Group"] == "10-14"]
etavg = et['Price'].mean()
etsum = et['Price'].sum()
etpavg = etsum / int(eto['Total Count'])

lt = purchase_data.loc[purchase_data["Age Group"] == "15-19"]
lto = df_mapping.loc[df_mapping["Age Group"] == "15-19"]
ltavg = lt['Price'].mean()
ltsum = lt['Price'].sum()
ltpavg = ltsum / int(lto['Total Count'])

etw = purchase_data.loc[purchase_data["Age Group"] == "20-24"]
etwo = df_mapping.loc[df_mapping["Age Group"] == "20-24"]
etwavg = etw['Price'].mean()
etwsum = etw['Price'].sum()
etwpavg = etwsum / int(etwo['Total Count'])

ltw = purchase_data.loc[purchase_data["Age Group"] == "25-29"]
ltwo = df_mapping.loc[df_mapping["Age Group"] == "25-29"]
ltwavg = ltw['Price'].mean()
ltwsum = ltw['Price'].sum()
ltwpavg = ltwsum / int(ltwo['Total Count'])

eth = purchase_data.loc[purchase_data["Age Group"] == "30-34"]
etho = df_mapping.loc[df_mapping["Age Group"] == "30-34"]
ethavg = eth['Price'].mean()
ethsum = eth['Price'].sum()
ethpavg = ethsum / int(etho['Total Count'])

lth = purchase_data.loc[purchase_data["Age Group"] == "35-39"]
ltho = df_mapping.loc[df_mapping["Age Group"] == "35-39"]
lthavg = lth['Price'].mean()
lthsum = lth['Price'].sum()
lthpavg = lthsum / int(ltho['Total Count'])

p40 = purchase_data.loc[purchase_data["Age Group"] == "40+"]
p40o = df_mapping.loc[df_mapping["Age Group"] == "40+"]
p40avg = p40['Price'].mean()
p40sum = p40['Price'].sum()
p40pavg = p40sum / int(p40o['Total Count'])

# create dataframe to hold the data
pa_age = pd.DataFrame({
                    'Age Ranges': ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
                    'Purchase Counts': age_pa_count,
                    'Average Purchase Price': [u10avg, etavg, ltavg, etwavg, ltwavg, ethavg, lthavg, p40avg],
                    'Total Purchase Value': [u10sum, etsum, ltsum, etwsum, ltwsum, ethsum, lthsum, p40sum],
                    'Avg Total Purchase per Person': [u10pavg, etpavg, ltpavg, etwpavg, ltwpavg, ethpavg, lthpavg, p40pavg]
    })

# format columns for currency
pa_age['Average Purchase Price'] = pa_age['Average Purchase Price'].map("${:,.2f}".format)
pa_age['Total Purchase Value'] = pa_age['Total Purchase Value'].map("${:,.2f}".format)
pa_age['Avg Total Purchase per Person'] = pa_age['Avg Total Purchase per Person'].map("${:,.2f}".format)

pa_age.style.hide_index()

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
# create dataframe to hold SN and Price
ts_df = purchase_data[['SN', 'Price']]
# group the SNs with multiple values
sngrouped = ts_df.groupby(['SN'])
# get the counts of each SN
sncount = ts_df['SN'].value_counts()
# add all purchases made by each
snsum = sngrouped.sum()

# create dataframe to hold the data
tsd = pd.DataFrame({'Purchase Count': sncount})
tsd['Total Purchase Value'] = snsum
tsd['Average Purchase Price'] = tsd['Total Purchase Value'] / tsd['Purchase Count']
tsd['SN'] = purchase_data['SN']

# set SN column as the index
tsd['SN'] = tsd.index

# order our columns
tsd = tsd[['SN', 'Purchase Count', 'Average Purchase Price', 'Total Purchase Value']]

# sort the dataframe by total purchase value
sorted_tsd = tsd.sort_values(['Total Purchase Value'], ascending=False)

# format for currency
sorted_tsd['Total Purchase Value'] = tsd['Total Purchase Value'].map("${:,.2f}".format)
sorted_tsd['Average Purchase Price'] = tsd['Average Purchase Price'].map("${:,.2f}".format)

sorted_tsd.head().style.hide_index()

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# get the data for item id, name and price
mpi = purchase_data[['Item ID', 'Item Name', 'Price']]
# drop duplicate values
mpi_df = mpi.drop_duplicates(subset="Item ID", keep='first', inplace=False)

mpi_uni = mpi_df['Item Name'].unique()
mpi_id = mpi_df['Item ID'].unique()

# group the items together and get their total purchase value
count_sum = mpi.groupby(['Item ID','Item Name'])['Price'].sum()

# create dataframe to hold the counts of each item
mpi_count = pd.DataFrame({'Purchase Count': mpi['Item Name'].value_counts()})
# get the item names from the previous dataframe index
mpi_count['Item Name'] = mpi_count.index

# merge the dataframe with the count
mpim = pd.merge(mpi_df, mpi_count, on='Item Name')
# merge the dataframe to add the sum of each item
mpim = pd.merge(mpim, count_sum, on='Item Name')

# sort the purchase count column
# sorted_mpi = mpim.sort_values(['Purchase Count'], ascending=False)

# rename column
mpim.rename(columns = {'Price_y': 'Total Purchase Value'}, inplace=True)
# get the average price of each item
mpim['Item Price'] = mpim['Total Purchase Value'] / mpim['Purchase Count']
# sort columns
mpim = mpim[['Item ID', 'Item Name', 'Purchase Count', 'Item Price', 'Total Purchase Value']]
# sort the purchase count column
sorted_mpi = mpim.sort_values(['Purchase Count'], ascending=False)

# format for currency
sorted_mpi['Total Purchase Value'] = sorted_mpi['Total Purchase Value'].map("${:,.2f}".format)
sorted_mpi['Item Price'] = sorted_mpi['Item Price'].map("${:,.2f}".format)

sorted_mpi.head(11).style.hide_index()

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
# create new dataframe that sorts by total purchase value
sorted_tpv = mpim.sort_values(['Total Purchase Value'], ascending=False)
# rename column
sorted_tpv.rename(columns = {'Price': 'Item Price'}, inplace=True)

# format for currency
sorted_tpv['Total Purchase Value'] = sorted_tpv['Total Purchase Value'].map("${:,.2f}".format)
sorted_tpv['Item Price'] = sorted_tpv['Item Price'].map("${:,.2f}".format)

sorted_tpv.head(10).style.hide_index()