### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# preview data
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [8]:
pd.DataFrame(tp_df)
tp_df["Total Players"] = int(len(pd.unique(purchase_data["SN"])))
tp = tp_df["Total Players"].head(1)
pd.DataFrame(tp_df["Total Players"]).head(1)

NameError: name 'tp_df' is not defined

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
purchase_avg = float(purchase_data["Price"].mean())
total_purchases = int(len(purchase_data["SN"]))
total_revenue = float(purchase_data["Price"].sum())
patotal_df = pd.DataFrame(tp_df)
patotal_df["Number of Unique Items"] = int(len(pd.unique(purchase_data["Item Name"])))
patotal_df["Average Price"] = purchase_avg
patotal_df["Average Price"] = patotal_df["Average Price"].map("$ {:,.2f}".format)
patotal_df["Number of Purchases"] = total_purchases
patotal_df["Total Revenue"] = total_revenue
patotal_df["Total Revenue"] = patotal_df["Total Revenue"].map("$ {:,.2f}".format)

patotal_df[["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"]] .head(1)

NameError: name 'tp_df' is not defined

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
genders_df = purchase_data.drop_duplicates(subset="SN", keep='first', inplace=False)
gender_count = genders_df["Gender"].value_counts()
gc_df = pd.DataFrame()

gc_df["Total Count"] = gender_count
#problem with calculation
gc_df["Percentage of Players"] = (gender_count) / (5.76)
gc_df["Percentage of Players"] = gc_df["Percentage of Players"].map("{:,.2f} %".format)

gc_df

                       Total Count Percentage of Players
Male                           484               84.03 %
Female                          81               14.06 %
Other / Non-Disclosed           11                1.91 %

## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
total_gender_count = purchase_data["Gender"].value_counts()

female_avg = purchase_data.loc[purchase_data["Gender"] == "Female"]
female_purchase_avg = female_avg["Price"].mean()
female_total = female_avg['Price'].sum()
new_female_df = female_avg[["SN", "Price"]]
new_female_df = new_female_df.groupby(['SN']).sum()
female_avg_pp = float(new_female_df.mean())

male_avg = purchase_data.loc[purchase_data["Gender"] == "Male"]
male_purchase_avg = male_avg["Price"].mean()
male_total = male_avg['Price'].sum()
new_male_df = male_avg[["SN", "Price"]]
new_male_df = new_male_df.groupby(['SN']).sum()
male_avg_pp = float(new_male_df.mean())

other_avg = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed"]
other_purchase_avg = other_avg["Price"].mean()
other_total = other_avg['Price'].sum()
new_other_df = other_avg[["SN", "Price"]]
new_other_df = new_other_df.groupby(['SN']).sum()
other_avg_pp = float(new_other_df.mean())

pag_df = pd.DataFrame({
    "Purchase Count": total_gender_count,
    "Average Purchase Price":[male_purchase_avg, female_purchase_avg, other_purchase_avg],
    "Total Purchase Value":[male_total, female_total, other_total],
    "Avg Total Purchase per Person":[male_avg_pp, female_avg_pp, other_avg_pp],
})

pag_df["Average Purchase Price"] = pag_df["Average Purchase Price"].map("$ {:,.2f}".format)
pag_df["Total Purchase Value"] = pag_df["Total Purchase Value"].map("$ {:,.2f}".format)
pag_df["Avg Total Purchase per Person"] = pag_df["Avg Total Purchase per Person"].map("$ {:,.2f}".format)

pag_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$ 3.02,"$ 1,967.64",$ 4.07
Female,113,$ 3.20,$ 361.94,$ 4.47
Other / Non-Disclosed,15,$ 3.35,$ 50.19,$ 4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
bins = [0, 9.1, 14.1, 19.1, 24.1, 29.1, 34.1, 40]
age_group = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']
age_demo = purchase_data['SN'].unique()
age_demo['SN'] = age_demo
age_counts = age_demo['Age'].value_counts(bins=bins, sort=False)
df_mapping = pd.DataFrame({
    '': ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    "Total Count": age_counts,
    "Percentage of Players":age_counts/(5.76)})
sort_mapping = df_mapping.reset_index().set_index('')
sort_mapping[['Total Count', 'Percentage of Players']]

# ages_demo_df = sort_mapping[['Total Count', 'Percentage of Players']]
# ages_demo_df["Percentage of Players"] = ages_demo_df["Percentage of Players"].map("{:,.2f} %".format)
# ages_demo_df

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
age_pa_count = purchase_data['Age'].value_counts(bins=bins, sort=False)
bins1 = [0, 9.1, 14.1, 19.1, 24.1, 29.1, 34.1, 39.1, 100]
purchase_data["Age Group"] = pd.cut(purchase_data['Age'].value_counts(bins = bins1, sort=False))
pavg_count = purchase_data['Price'].value_counts
pa_age = pd.DataFrame({
    'Age Ranges': ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+'],
    "Purchase Counts": age_pa_count})
age_pa_index = pa_age.reset_index().set_index('Age Ranges')
age_pa_index

TypeError: cut() missing 1 required positional argument: 'bins'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame